<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fontkeyboard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="Font Keyboard"
        android:supportsRtl="true">

        <service
            android:name=".CustomFontKeyboardService"
            android:label="Custom Font Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

    </application>
</manifest>

